test:
  checkpoint: ./ckpt/model.pt.tar
  use_cuda: True
  infer_feat_too: True
  inference_time: 1

save:
  feat_dir: ./decode/feat/se
  wav_dir: ./decode/wav/se

task: SE #PLC,AEC,SS,TSE

# LLaSE config
nnet_conf:
  d_model: 1024
  nhead: 16
  num_layers: 16
  
datareader:
  sample_rate: 16000
  filename: /path/to/your/filelist